body {
    background: linear-gradient(135deg, #d4fc79 0%, #96e6a1 100%);
    padding: 10px;
}

table {
    max-width: 900px;
}

input[type="text"], select {
    padding: 8px;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #4caf50;
}

input[type="submit"]:hover {
    background-color: #66bb6a;
}

a.deleteBtn, a.addBtn, a.logoutBtn {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    transition: background 0.3s ease;
    display: inline-block;
    margin: 5px;
}

a.deleteBtn {
    background-color: #ff5f5f;
}

a.deleteBtn:hover {
    background-color: #fc8383;
}

a.addBtn {
    background-color: #4caf50;
}

a.addBtn:hover {
    background-color: #66bb6a;
}

a.logoutBtn {
    background-color: #f44336;
}

a.logoutBtn:hover {
    background-color: #ef5350;
}

@media (max-width: 600px) {
    th, td {
        text-align: right;
        padding: 8px;
        border-bottom: 0;
    }

    td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #6dd5fa;
    }

    td:last-child {
        border-bottom: 0;
    }

    input[type="text"], select {
        width: auto;
        margin-top: 10px;
    }

    .tr-search form {
        padding: 10px;
    }

    input[type="submit"] {
        width: 100%;
        margin-top: 10px;
    }
}
