.deleteBtn, .addBtn, .logoutBtn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.tr-search input, .tr-search select {
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}
